{% extends './base/base.html' %}
{% block title %}index{% endblock %}
{% block content %}
<div class="flex justify-between mb-4">
    <h1 class="text-3xl">Lista de estudiantes del curso: </h1>
    <div class="flex gap-4">
        <form class="flex gap-4" action="{% url 'buscar_estudiante' %}" method="post">
            {% csrf_token %}
            <input class="border-2 rounded-lg p-2" type="text" name="search_estudiante" id="search_estudiante"
                placeholder="Buscar estudiante">
            <button type="submit" class="flex justify-center bg-blue-500 items-center text-white p-2 rounded-lg w-30 text-center transform duration-300 ease-in-out hover:scale-102">Buscar</button>
        </form>
    </div>
</div>
<div class="flex flex-col gap-4 rounded-lg overflow-y-auto">
    <table class="table-auto border-2 border-black w-full text-center">
        <thead class="bg-blue-500 text-white">
            <tr>
                <th class="border-2 border-black px-4 py-2">Nombre</th>
                <th class="border-2 border-black px-4 py-2">Apellido</th>
                <th class="border-2 border-black px-4 py-2">Diagnóstico BAP</th>
                <th class="border-2 border-black px-4 py-2">Curso</th>
                <th class="border-2 border-black px-4 py-2">Apoderado</th>
                <th class="border-2 border-black px-4 py-2">Correo apoderado</th>
                <th class="border-2 border-black px-4 py-2">Acciones</th>
            </tr>
        </thead>
        <tbody class="bg-white divide-y divide-gray-200">
            {% for e in estudiantes %}
            <tr class="hover:bg-blue-100 transition">
                <td class="border-2 border-black px-4 py-2 text-black">{{ e.name }}</td>
                <td class="border-2 border-black px-4 py-2">{{ e.lastName }}</td>
                <td class="border-2 border-black px-4 py-2">{{ e.bapDiag }}</td>
                <td class="border-2 border-black px-4 py-2">{{ e.grade }}</td>
                <td class="border-2 border-black px-4 py-2">{{ e.fk_parent }}</td>
                <td class="border-2 border-black px-4 py-2">{{ e.fk_parent.mail }}</td>
                <td class="flex justify-center px-4 py-2 gap-4">
                    <a href="{% url 'paci' %}" class="bg-green-500 w-25 p-2 rounded-lg text-white hover:bg-green-600 cursor-pointer">
                        Ver P.A.C.I.
                    </a>
                    <a href="{% url 'notas' %}" class="bg-blue-500 w-25 p-2 rounded-lg text-white hover:bg-blue-600 cursor-pointer">
                        Ver notas
                    </a>
                </td>
            </tr>

            {% empty %}
            <tr>
                <td colspan="5">
                    No hay estudiantes registrados.
                </td>
            </tr>

            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}