{% extends './base/base.html' %}
{% block title %}index{% endblock %}
{% block content %}
<div class="flex justify-between mb-4">
    <h1 class="text-3xl">Lista de docentes: </h1>
    <div class="flex gap-4">
        <input class="border-2 border-gray-300 rounded-lg p-2" type="text" name="searchdocente" id="searchdocente" placeholder="Buscar docente">
        <a href="" class="flex justify-center bg-blue-500 items-center text-white p-2 rounded-lg w-30 text-center transform duration-300 ease-in-out hover:scale-102">Buscar</a>
    </div>    
</div>
<div class="flex flex-col gap-4 rounded-lg overflow-y-auto">
    <table class="table-auto border-2 border-black w-full text-center">
        <thead class="bg-blue-500 text-white">
            <tr>
                <th class="border-2 border-black px-4 py-2">Nombre</th>
                <th class="border-2 border-black px-4 py-2">Apellido</th>
                <th class="border-2 border-black px-4 py-2">Diagnóstico BAP</th>
            </tr>
        </thead>
        <tbody class="bg-white divide-y divide-gray-200">
            {% for u in usuarios %}
            <tr class="hover:bg-blue-100 transition">
                <td class="border-2 border-black px-4 py-2 text-black">{{ u.name }}</td>
                <td class="border-2 border-black px-4 py-2">a</td>
                <td class="border-2 border-black px-4 py-2">s</td>
            </tr>

            {% empty %}
            <tr>
                <td colspan="3">
                    No hay estudiantes registrados.
                </td>
            </tr>

            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}