<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <title>Login</title>
</head>
<body>
    <main>
        <div class="flex flex-col items-center place-content-center">
            <form class="flex flex-col border-2 p-4" method="post">
                {% csrf_token %}
                <h1 class="text text-3xl">Bienvenido a Alenkura</h1>

                <label for="user">Nombre de usuario</label>
                <input class="border-2 rounded-2 mb-2 p-2" name="username" type="text" placeholder="Ingrese su nombre de usuario" required>

                <label for="passwd">Contraseña</label>
                <input class="border-2 rounded-4 mb-2 p-2" name="password" type="password" placeholder="Ingrese su contraseña" required>

                <button class="border-2 rounded-4 p-2 bg-green-600 text-white hover:bg-green-700 cursor-pointer" type="submit">Iniciar sesión</button>
            </form>
        </div>
    </main>
</body>
</html>