<div class="grid grid-cols-2 gap-4 rounded-lg shadow-xl p-4 border-1 border-gray-500">
    <p class="col-span-2 text-2xl font-semibold text-white">Datos del estudiante</p>

    <div class="flex flex-col">
        <label class="text-white" for="user">RUT del estudiante:</label>
        <input class="rounded-lg p-2 bg-white border-2 border-gray-100" name="rut" type="text" placeholder="Ingrese RUT"
            required>
    </div>

    <div class="flex flex-col">
        <label class="text-white" for="user">Nombre del estudiante:</label>
        <input class="rounded-lg p-2 bg-white border-2 border-gray-100" name="studentName" type="text"
            placeholder="Ingrese nombre" required>
    </div>

    <div class="flex flex-col">
        <label class="text-white" for="passwd">Apellidos del estudiante:</label>
        <input class="rounded-lg p-2 bg-white border-2 border-gray-100" name="studentLastname" type="text"
            placeholder="Ingrese apellidos" required>
    </div>

    <div class="flex flex-col">
        <label class="text-white" for="passwd">Fecha de nacimiento del estudiante:</label>
        <input class="rounded-lg p-2 bg-white border-2 border-gray-100" name="birthDate" type="date"
            placeholder="Ingrese fecha de nacimiento" required>
    </div>

    <div class="flex flex-col">
        <label class="text-white" for="passwd">Diagnostico BAP del estudiante:</label>
        <input class="rounded-lg p-2 bg-white border-2 border-gray-100" name="bapDiag" type="text"
            placeholder="Ingrese diagnostico BAP" required>
    </div>

    <div class="flex flex-col">
        <label class="text-white" for="passwd">etnia del estudiante:</label>
        <input class="rounded-lg p-2 bg-white border-2 border-gray-100" name="bapDiag" type="text"
            placeholder="Ingrese etnia">
    </div>

    <div class="flex flex-col">
        <label class="text-white" for="passwd">Asigne curso al estudiante:</label>
        <select class="p-2 rounded-lg border-2 border-gray-100" name="course" id="course">
            <option value="1a">1A</option>
            <option value="2b">2b</option>
            <option value="...">...</option>
        </select>
    </div>

    <div class="flex flex-col">
        <label class="text-white" for="passwd">Seleccione comuna del estudiante:</label>
        <select class="p-2 rounded-lg border-2 border-gray-100" name="commune" id="commune">
            <option value="tco">Temuco</option>
            <option value="plc">Padre Las Casas</option>
        </select>
    </div>
</div>