{% load static %}
<!DOCTYPE html>
<html lang="en" class="h-full">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <title>{% block title %}{% endblock %}</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
        body {
            font-family: 'Manrope', sans-serif;
        }
    </style>

</head>

<body class="flex flex-col h-screen bg-emerald-50">
    <nav class="p-4 m-4 rounded-lg shadow-xl bg-white border-2 border-gray-300">
        <div class="flex items-center justify-between">
            <p class="text-3xl text-black">
                Escuela Especial Alenkura 
            </p>
            {% if user.is_superuser %}
            <div>
                <p class="text text-3xl text-black text-center">
                    Dashboard administración
                </p>
            </div>
            {% elif user.is_docent %}
            <div>
                <p class="text text-3xl text-black text-center">
                    Dashboard Docente nivel: {{ user.rol }}
                </p>
            </div>
            {% endif%}
            <div class="flex">
                <div class="flex items-center text-white mr-3 bg-blue-600 rounded-lg p-2">
                    <div class="hidden md:block">
                        <span class="font-bold">Hola, {{ user.name }}!</span>
                    </div>
                </div>
                <a href="{% url 'logout' %}"
                    class="bg-red-600 hover:bg-red-700 text-white font-semibold p-2 rounded-lg flex items-center transform duration-300 ease-in-out hover:scale-102">
                    Cerrar Sesión
                </a>
            </div>

        </div>
    </nav>
    <main class="flex flex-row items-center content h-full mb-4 ">
        <div class="flex flex-col items-center h-full bg-white rounded-tl-lg rounded-bl-lg ml-4 p-4 shadow-xl gap-4 border-2 border-gray-300">
            {% if user.is_superuser%}
                <a class="text-center bg-emerald-500 text-white cursor-pointer p-2 rounded-lg w-70 transform duration-300 ease-in-out hover:scale-102 hover:bg-emerald-600" href="{% url 'index_administracion' %}">
                    Volver al inicio
                </a>
                <a class="border-2 border-gray-100 text-center text-black cursor-pointer p-2 rounded-lg w-70 transform duration-300 ease-in-out hover:scale-102 hover:bg-gray-200" href="{% url 'docent' %}">
                    Agregar docente
                </a>

                <a class="border-2 border-gray-100 text-center text-red-700 cursor-pointer p-2 rounded-lg w-70 transform duration-300 ease-in-out hover:scale-102 hover:bg-gray-200 " href="{% url 'listadocentes' %}">
                    Lista de docentes
                </a>

                <a class="border-2 border-gray-100 text-center text-black cursor-pointer p-2 rounded-lg w-70 transform duration-300 ease-in-out hover:scale-102 hover:bg-gray-200" href="{% url 'add_student' %}">
                    Agregar estudiante
                </a>

                <a class="border-2 border-gray-100 text-center text-red-700 cursor-pointer p-2 rounded-lg w-70 transform duration-300 ease-in-out hover:scale-102 hover:bg-gray-200" href="{% url 'lista_estudiantes' %}">
                    Lista de estudiantes
                </a>

            {% elif user.is_docent %}
                <a class="text-center bg-emerald-600 text-white cursor-pointer p-2 rounded-lg w-70 transform duration-300 ease-in-out hover:scale-102 hover:bg-emerald-700" href="{% url 'index_docent' %}">
                    Volver al inicio
                </a>
                <a class="border-2 border-gray-200 text-center text-black cursor-pointer p-2 rounded-lg w-70 transform duration-300 ease-in-out hover:scale-102 hover:bg-gray-200">
                    Ver Proyecto de aula
                </a>
                <a class="border-2 border-gray-200 text-center text-black cursor-pointer p-2 rounded-lg w-70 transform duration-300 ease-in-out hover:scale-102 hover:bg-gray-200" href="{% url 'lista_estudiantes' %}">
                    Ver lista de estudiantes
                </a>

                <a class="border-2 border-gray-200 text-center text-black cursor-pointer p-2 rounded-lg w-70 transform duration-300 ease-in-out hover:scale-102 hover:bg-gray-200" href="{% url 'paci' %}">
                    Ver P.A.C.I
                </a>

                <a class="border-2 border-gray-200 text-center text-black cursor-pointer p-2 rounded-lg w-70 transform duration-300 ease-in-out hover:scale-102 hover:bg-gray-200" href="{% url 'cursos' %}">
                    Ver Cursos
                </a>

                <a class="border-2 border-gray-200 text-center text-black cursor-pointer p-2 rounded-lg w-70 transform duration-300 ease-in-out hover:scale-102 hover:bg-gray-200" href="{% url 'notas' %}">
                    Ver Notas
                </a>
                <a class="border-2 border-gray-200 text-center text-black cursor-pointer p-2 rounded-lg w-70 transform duration-300 ease-in-out hover:scale-102 hover:bg-gray-200" href="{% url 'notas' %}">
                    Volver a seleccionar cursos
                </a>
                <a class="border-2 border-gray-200 text-center text-black cursor-pointer p-2 rounded-lg w-70 transform duration-300 ease-in-out hover:scale-102 hover:bg-gray-200" href="{% url 'notas' %}">
                    Volver a seleccionar nivel
                </a>

            {% endif %}
        </div>

        <div class="rounded-tr-lg rounded-br-lg bg-white h-full w-full mr-4 p-4 shadow-xl border-t-2 border-r-2 border-b-2 border-gray-300">
            {% block content %}
            {% endblock %}
        </div>

    </main>
</body>

</html>