{% load static %}
<!DOCTYPE html>
<html lang="en" class="h-full">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <title>{% block title %}{% endblock %}</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

        body {
            font-family: 'Manrope', sans-serif;
        }
    </style>

</head>

<body class="flex flex-col h-screen bg-gray-900">
    <nav class="p-4 m-4 rounded-lg shadow-xl bg-gray-800 border-1 border-black">
        <div class="flex items-center justify-between">
            <p class="text-3xl text-white">
                Escuela Especial Alenkura
            </p>
            {% if user.is_director or user.is_superuser %}
            <div>
                <p class="text text-3xl text-white text-center">
                    Dashboard Director
                </p>
            </div>
            {% elif user.is_docent %}
            <div>
                <p class="text text-3xl text-white text-center">
                    Dashboard Docente nivel: {{ user.rol }}
                </p>
            </div>
            {% endif%}
            <div class="flex">
                <div class="flex items-center text-white mr-3 bg-blue-600 rounded-lg p-2">
                    <div class="hidden md:block">
                        <span class="font-bold">Hola, {{ user.name }}!</span>
                    </div>
                </div>
                <a href="{% url 'logout' %}"
                    class="bg-red-600 hover:bg-red-700 text-white font-semibold p-2 rounded-lg flex items-center transform duration-200 ease-in-out">
                    Cerrar Sesión
                </a>
            </div>

        </div>
    </nav>
    <main class="flex flex-row items-center content h-full mb-4">
        <div class="flex flex-col items-center h-full bg-gray-800 rounded-tl-lg rounded-bl-lg ml-4 p-4 shadow-xl gap-4 border-1 border-black">
            {% if user.is_director or user.is_superuser %}
            <a class="text-center bg-green-600 text-white cursor-pointer p-2 rounded-lg w-70 transform duration-200 ease-in-out hover:bg-green-700"
                href="{% url 'index_director' %}">
                Volver al inicio
            </a>
            <a class="text-center text-white cursor-pointer p-2 rounded-lg w-70 transform duration-200 ease-in-out hover:bg-gray-700"
                href="{% url 'index_docent' %}">
                Agregar docente
            </a>

            <a class="text-center text-red-500 cursor-pointer p-2 rounded-lg w-70 transform duration-200 ease-in-out hover:bg-gray-700 "
                href="{% url 'lista_docentes' %}">
                Lista de docentes
            </a>

            <a class="text-center text-white cursor-pointer p-2 rounded-lg w-70 transform duration-200 ease-in-out hover:bg-gray-700"
                href="{% url 'add_student' %}">
                Agregar estudiante
            </a>

            <a class="text-center text-red-500 cursor-pointer p-2 rounded-lg w-70 transform duration-200 ease-in-out hover:bg-gray-700"
                href="{% url 'lista_estudiantes' %}">
                Lista de estudiantes
            </a>

            {% elif user.is_docent %}
            <div class="flex flex-col place-content-between h-full">
                <div class="flex flex-col">
                    <a class="text-center bg-green-600 text-white cursor-pointer p-2 rounded-lg w-70 transform duration-200 ease-in-out hover:bg-green-700"
                        href="{% url 'index_docent' %}">
                        Volver al inicio
                    </a>
                </div>
                <div class="flex flex-col gap-4">
                    <a
                        class="border-1 border-gray-200 text-center text-black cursor-pointer p-2 rounded-lg w-70 transform duration-200 ease-in-out hover:bg-gray-200">
                        Ver Proyecto de aula
                    </a>

                    <a class="border-1 border-gray-200 text-center text-black cursor-pointer p-2 rounded-lg w-70 transform duration-200 ease-in-out hover:bg-gray-200"
                        href="{% url 'lista_estudiantes' %}">
                        Ver lista de estudiantes
                    </a>

                    <a class="border-1 border-gray-200 text-center text-black cursor-pointer p-2 rounded-lg w-70 transform duration-200 ease-in-out hover:bg-gray-200"
                        href="{% url 'cursos' %}">
                        Ver Cursos
                    </a>
                </div>

                <div class="flex flex-col gap-4">
                    <a class="border-1 border-gray-200 text-center text-black cursor-pointer p-2 rounded-lg w-70 transform duration-200 ease-in-out hover:bg-gray-200"
                        href="{% url 'notas' %}">
                        Volver a seleccionar cursos
                    </a>
                    <a class="border-1 border-gray-200 text-center text-black cursor-pointer p-2 rounded-lg w-70 transform duration-200 ease-in-out hover:bg-gray-200"
                        href="{% url 'notas' %}">
                        Volver a seleccionar nivel
                    </a>
                </div>
            </div>
            {% endif %}

        </div>

        <div
            class="rounded-tr-lg rounded-br-lg bg-gray-800 h-full w-full mr-4 p-4 shadow-xl border-t-1 border-r-1 border-b-1 border-black">
            {% block content %}
            {% endblock %}
        </div>

    </main>
</body>

</html>